@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input[type="submit"], button { cursor: pointer; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-arrow_down:before { content: ""; }

.icon-close:before { content: ""; }

.icon-facebook:before { content: ""; }

.icon-in:before { content: ""; }

.icon-mail:before { content: ""; }

.icon-slack:before { content: ""; }

.icon-telegram:before { content: ""; }

.icon-tw:before { content: ""; }

@font-face { font-family: museo-thin; src: url("fonts/museosanscyrl_300-webfont.eot"); src: url("fonts/museosanscyrl_300-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosanscyrl_300-webfont.woff2") format("woff2"), url("fonts/museosanscyrl_300-webfont.woff") format("woff"), url("fonts/museosanscyrl_300-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: museo-medium; src: url("fonts/museosanscyrl_500-webfont.eot"); src: url("fonts/museosanscyrl_500-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosanscyrl_500-webfont.woff2") format("woff2"), url("fonts/museosanscyrl_500-webfont.woff") format("woff"), url("fonts/museosanscyrl_500-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: museo-bold; src: url("fonts/museosanscyrl_700-webfont.eot"); src: url("fonts/museosanscyrl_700-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/museosanscyrl_700-webfont.woff2") format("woff2"), url("fonts/museosanscyrl_700-webfont.woff") format("woff"), url("fonts/museosanscyrl_700-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html, body { height: 100%; min-height: 100%; }

body { font-family: "museo-thin", Arial, sans-serif; font-size: 18px; line-height: 1.4; color: #000; }
body.popup-open { overflow: hidden; }

.out { position: relative; }
.out.jap h2, .out.jap h3, .out.jap h4, .out.jap p { font-weight: normal !important; }
.out.jap .main-logo { max-width: 700px; }
.out.jap .main-logo__inner { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.out.kor h2, .out.kor h3, .out.kor h4, .out.kor p { font-weight: normal !important; }
.out.kor .main-logo { max-width: 600px; }

.row { position: relative; max-width: 1080px; margin: 0 auto; padding: 0 10px; }
.row_center { text-align: center; }

.title-h2 { margin-bottom: 5px; text-transform: uppercase; color: #000; font-size: 30px; text-align: center; }
.title-h2_white { color: #FFF; }

.title-h3 { font-weight: normal; font-size: 18px; text-align: center; }
.title-h3_white { color: #FFF; }

.title-h4 { margin-top: 30px; margin-bottom: 20px; }
.title-h4_upper { text-transform: uppercase; }

.btn-wrap { text-align: center; }
.btn-wrap_pad { padding: 20px 0; }
.btn-wrap_abs { position: absolute; top: -63px; left: 0; right: 0; }

b { font-weight: bold; }

.btn { height: 60px; padding: 8px 55px 9px; text-align: center; color: #fff; font-size: 26px; font-family: "museo-medium", Arial, sans-serif; border-radius: 30px; text-transform: uppercase; text-decoration: none; background-clip: padding-box; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; background-color: #FAA620; }
.btn_green { background-color: #29b948; }
.btn_green:hover { background-color: #208f38; }
.btn_border { border: 7px solid rgba(0, 0, 0, 0.5); }
.btn_mod { padding: 13px 75px 13px; color: #000; }
.btn_mid { height: 40px; padding: 5px 15px; font-size: 24px; }
.btn_big { font-size: 24px; height: 75px; padding: 0 75px; border-radius: 40px; }

.text { margin-bottom: 20px; }
.text_center { text-align: center; }
.text_orange { color: #faa620; }
.text_white { color: #FFF; }
.text_bold { font-size: 24px; font-family: "museo-medium", Arial, sans-serif; }
.text_mg { margin-bottom: 50px; }
.text_mg_bg { margin: 30px 0; }
.text_divider { position: relative; margin-bottom: 40px; }
.text_divider:after { content: ""; position: absolute; left: 50%; top: 100%; margin-top: 20px; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 200px; height: 3px; background-color: #2ab747; }

.scroll-top { position: fixed; bottom: 25px; right: 30px; width: 50px; height: 50px; background: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #fff; -webkit-transition: background 0.3s; transition: background 0.3s; display: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius: 50%; }
.scroll-top:before { content: ""; display: inline-block; background-image: url("../img/icons.png"); width: 50px; height: 50px; background-position: -212px -73px; }
.scroll-top.is-visible { display: block; }

.send-mail-form { margin-top: 50px; }

.send-mail-form label { color: #fff; margin-bottom: 20px; }
.send-mail-form .email-text { width: 250px; height: 40px; text-indent: 15px; font-size: 14px; padding-right: 10px; border: none; box-shadow: none; }
.send-mail-form .email-send { height: 40px; width: 120px; margin-left: -5px; font-size: 14px; background-color: #FAA620; font-weight: bold; letter-spacing: 1px; }

.section { position: relative; padding: 30px 0; }
.section_main { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
.section__top_bg { position: absolute; top: 0; left: 0; width: 100%; padding: 12px 0; background: rgba(0, 0, 0, 0.5); }
.section_no_pad { padding: 0; }
.section_pad { padding: 30px 0 40px; }

.main-logo { max-width: 800px; margin: 0 auto; padding: 165px 0 195px; }
.main-logo_lg { max-width: 900px; }
.main-logo__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.main-logo span { font-size: 35px; color: #000; font-family: "museo-bold", Arial, sans-serif; text-transform: uppercase; }
.main-logo img { width: 240px; }

.reg-info { position: absolute; left: 0; right: 0; bottom: 0; text-align: center; }

.messengers { margin-bottom: 60px; }
.messengers a { display: inline-block; padding: 0 5px; color: #fff; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
.messengers a:hover { opacity: 0.6; }

.sign-up { height: 135px; padding-top: 35px; background: rgba(0, 0, 0, 0.5); color: #fff; text-align: center; }
.sign-up .upper-text { font-size: 24px; }

.upper-text { text-transform: uppercase; }

.simple-img { margin-top: 30px; max-width: 100%; }
.simple-img_no_mg { margin-top: 0; }

.companies__list { font-size: 0; }
.companies__list li { display: inline-block; margin-bottom: 40px; vertical-align: middle; padding: 0 40px; }
.companies__list li:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; width: 0; }

.info__links__list { font-size: 18px; margin-bottom: 50px; }
.info__links__list li { display: inline-block; vertical-align: top; }
.info__links__list li img { width: 100%; border-radius: 10px 10px 0px 0px; }
.info__links__list__link { text-decoration: none; color: #000; font-size: 18px; }
.info__links__list__link__item { width: 200px; height: 300px; margin: 30px 30px 0 30px; }
.info__links__list__link__item__site { font-size: 10px; text-align: left; text-transform: uppercase; padding-left: 10px; padding-top: 20px; }
.info__links__list__link__item__theme { font-weight: bold; padding: 20px 10px; }
.info__links__list__link__item:hover { box-shadow: 0 0 0 5px #D7D7DB; border-radius: 10px; }
.info__links__list__link__item:hover span { color: #008EA4; }

.info__contract { margin-top: 30px; padding: 50px 0 30px; color: #000; text-decoration: none; font-size: 22px; font-weight: bold; }
.info__contract:hover { color: #008EA4; }

.info__pdf { width: 30px; margin-bottom: -6px; margin-right: 10px; }

.table-indicators { max-width: 610px; margin: 0 auto 30px; text-align: left; empty-cells: show; }
.table-indicators tr td { height: 50px; line-height: 50px; font-size: 25px; border-top: 2px solid #2ab747; }
.table-indicators tr td:last-child { text-align: right; }
.table-indicators tr:first-child td { border-top: none; }

.table-indicators_mod { max-width: 700px; }
.table-indicators_mod tr th, .table-indicators_mod tr td { padding: 0 5px; }
.table-indicators_mod tr th:nth-child(3), .table-indicators_mod tr th:nth-child(4), .table-indicators_mod tr td:nth-child(3), .table-indicators_mod tr td:nth-child(4) { text-align: right; }

.table-indicators_wide { max-width: 850px; margin: 0 auto 30px; }
.table-indicators_wide_b { max-width: 1000px; }
.table-indicators_wide_sm { max-width: 835px; }
.table-indicators_wide tr td:first-child { padding-right: 5px; border-top: none; text-align: right; }
.table-indicators_wide tr:last-child td { border-top: none; }

.right-align { text-align: right; }

.left-align { text-align: right; }

.cell-bold { font-family: "museo-bold", Arial, sans-serif; padding-right: 0 !important; }

.cell-bold-border { display: inline-block; max-width: 485px; width: 100%; border-top: 4px solid #2ab747; text-align: left; *zoom: 1; }
.cell-bold-border:after { content: " "; display: table; clear: both; }
.cell-bold-border span:last-child { float: right; }
.cell-bold-border_lg { max-width: 495px; }
.cell-bold-border_mod { text-align: right; }
.cell-bold-border_mod .summ { display: inline-block; margin-right: 60px; }

.shift-to_right { padding-left: 35px; }

.w800 { max-width: 840px; }

.description { margin-left: 160px; margin-bottom: 30px; text-align: left; }
.description__title { margin-bottom: 5px; color: #2ab747; }
.description__list li:not(:last-child) { margin-bottom: 5px; }

.header { height: 60px; background: rgba(0, 0, 0, 0.5); }

.logo { float: left; width: 100px; }
.logo a { color: #fff; text-transform: uppercase; font-size: 48px; font-family: "museo-bold", Arial, sans-serif; text-decoration: none; }

.nav { float: right; margin-right: 90px; height: 60px; }
.nav__list { font-size: 0; height: 100%; }
.nav__list_es .nav__item { max-width: 180px; }
.nav__list_es .nav__link { padding: 0 11px; font-size: 18px; line-height: 1; }
.nav__list_es .nav__link span { vertical-align: middle; }
.nav__item { display: inline-block; vertical-align: top; font-size: 0; height: 100%; }
.nav__link { position: relative; display: inline-block; vertical-align: middle; padding: 18px 7px 14px; height: 100%; font-size: 16px; color: #fff; text-decoration: none; -webkit-transition: background 0.3s; transition: background 0.3s; }
.nav__link:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; width: 0; }
.nav__link:hover { background: rgba(255, 255, 255, 0.25); }
.nav__link_sm { max-width: 190px; font-size: 17px; padding: 0 11px; }
.nav__link span { vertical-align: middle; display: inline-block; }

.params { font-size: 0; margin-right: -20px; text-align: center; }

.circle-items_4 { max-width: 860px; margin: 0 auto; }
.circle-items_4 .circle-item { margin-bottom: 20px; }
.circle-items_4 .circle-item:not(:last-child) { margin-right: 20px; }

.circle-item { display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; max-width: 182px; width: 100%; height: 182px; margin-bottom: 40px; text-align: center; color: #24BC52; border: 2px solid #24BC52; border-radius: 50%; }
.circle-item:not(:last-child) { margin-right: 100px; }
.circle-item__text { font-size: 18px; line-height: 1.2; color: #000; }
.circle-item__text_mt { margin-top: -20px; }
.circle-item__text_sm { font-size: 14px; }
.circle-item__value { padding: 5px 0; color: #24bc52; line-height: 1.1; }
.circle-item__value_big { font-size: 30px; font-family: "museo-bold", Arial, sans-serif; }
.circle-item__value_sbig { font-size: 36px; font-family: "museo-bold", Arial, sans-serif; }
.circle-item__value_mid { font-size: 26px; font-family: "museo-bold", Arial, sans-serif; }
.circle-item__pic { margin-bottom: 10px; }

.features { max-width: 700px; margin: 40px auto 0; }
.features_wide { max-width: 900px; margin: 40px auto 20px; }
.features__list { font-size: 0; }

.feature { position: relative; margin-bottom: 15px; color: #000; text-align: center; display: inline-block; vertical-align: top; width: 33.3%; margin-bottom: 60px; }
.feature__inner { max-width: 160px; margin: 0 auto; }
.feature__img { position: relative; margin-bottom: 13px; min-height: 75px; height: 1px; text-align: center; vertical-align: middle; font-size: 0; }
.feature__img_big { min-height: 130px; }
.feature__img:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; width: 0; }
.feature__text { font-size: 18px; line-height: 1.3; }
.feature__text_white { color: #FFF; font-size: 25px; }
.feature__text_big { font-size: 32px; }

.feature_wide .feature__inner { max-width: 250px; }

.section_video { padding: 0; background-repeat: no-repeat; background-position: 50%; background-size: cover; }
.section_video.is-transparent { background-image: none !important; background-color: #000; }
.section_video.is-transparent .icon-play { visibility: hidden; opacity: 0; }

#play-video { position: relative; display: block; height: 0; padding-bottom: 56.5%; }
#play-video.hover-state { cursor: pointer; }
#play-video.hover-state .icon-play { opacity: 0.7; }
#play-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.icon-play { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -30%); -ms-transform: translate(-50%, -30%); transform: translate(-50%, -30%); background-image: url("../img/icons.png"); width: 131px; height: 131px; background-position: 0px 0px; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }

.video-js { position: absolute !important; top: 0; right: 0; left: 0; bottom: 0; height: auto; width: auto; opacity: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
.is-play .video-js { opacity: 1; }

.members { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-align-items: stretch; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; width: 100%; margin: 50px 0; font-size: 0; }

.member__col { width: 25%; margin-bottom: 30px; text-align: center; }

.member { position: relative; display: inline-block; max-width: 320px; vertical-align: top; height: 100%; }
.member__photo { width: 200px; height: 200px; margin: 0 auto 25px; overflow: hidden; }
.member__photo img { width: 100%; }
.member__name { margin-bottom: 10px; font-size: 25px; line-height: 1; color: #2ab747; }
.member__position { font-family: "museo-medium", Arial, sans-serif; margin-bottom: 30px; padding: 0 10px; font-size: 18px; color: #000; line-height: 1; }
.member__mail { -webkit-transition: opacity 0.15s; transition: opacity 0.15s; }
.member__mail:hover { opacity: 0.7; }
.member__info { font-size: 14px; color: #000; line-height: 1.2; max-width: 280px; margin: 0 auto; padding: 0 10px; }

.popup { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); display: none; z-index: 10000; }
.popup.is-open { display: block; }
.popup__inner { position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding: 40px 50px 60px; max-width: 435px; width: 90%; text-align: center; font-size: 0; z-index: 10001; opacity: 0.95; background-color: white; border-radius: 2px; box-shadow: 0 0 38px rgba(20, 20, 21, 0.2); }
.popup__inner:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__close-btn { position: absolute; top: -50px; right: -50px; display: inline-block; width: 50px; height: 50px; font-weight: bold; font-size: 36px; cursor: pointer; text-shadow: 0 0 5px rgba(20, 20, 21, 0.2); }
.popup__close-btn:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate3D(-50%, -50%, 0); -ms-transform: translate3D(-50%, -50%, 0); transform: translate3D(-50%, -50%, 0); }
.popup .field { margin-bottom: 20px; }
.popup input { height: 50px; line-height: 50px; border-bottom: 1px solid rgba(0, 0, 0, 0.7); width: 100%; font-size: 17px; color: rgba(0, 0, 0, 0.7); }
.popup button { margin-top: 30px; min-width: 226px; padding: 10px 20px; background-color: #093; border: 1px solid rgba(1, 2, 2, 0.07); box-shadow: 5.5px 9.5px 20px rgba(20, 20, 21, 0.08); font-size: 27px; text-transform: uppercase; color: #FFF; border-radius: 24px; cursor: pointer; }

.icon-facebook, .icon-tw, .icon-in, .icon-slack, .icon-telegram, .icon-mail { font-size: 45px; text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4); }

.icon-tw { font-size: 41px; }

.icon-in { font-size: 44px; }

.icon-mail { font-size: 40px; }

.icon-facebook { font-size: 42px; }

.icon-close { font-size: 30px; color: #093; }

.lang { position: absolute; top: 0; right: 20px; display: inline-block; text-align: center; cursor: pointer; }
.lang.is-open .lang__list { visibility: visible; opacity: 1; }
.lang__current, .lang__link { display: block; text-decoration: none; padding: 15px 0; font-size: 18px; color: #252525; }
.lang__current { position: relative; z-index: 11; padding: 18px 0; color: #fff; position: relative; }
.lang__current .lang__link { padding: 0; }
.lang__current:after { content: ""; display: inline-block; width: 14px; margin-bottom: -1px; margin-left: 3px; }
.lang__current:hover { background-color: rgba(255, 255, 255, 0.1); }
.lang__link { background: #FFF; -webkit-transition: background 0.2s; transition: background 0.2s; cursor: pointer; }
.lang__link:hover { background: #e1e1e1; }
.lang__link:active { color: #009933; }
.lang__list { position: relative; margin-top: -2px; z-index: 10; visibility: hidden; opacity: 0; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.lang li { width: 70px; }
.lang__arrow { position: absolute; top: 23px; right: 7px; color: #fff; font-size: 13px; }

.road-container { max-width: 800px; margin: 0 auto; }

.road-year { color: #a8a8a8; font-size: 30px; line-height: 50px; text-transform: uppercase; text-align: center; }

.road-cols { font-size: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.road-col { display: inline-block; width: 50%; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.road-col:first-child { padding-right: 64px; border-right: 4px solid #a8a8a8; }
.road-col:last-child { padding-left: 64px; }

.road { position: relative; padding: 0 15px; }
.road__arrow { position: absolute; top: 20px; height: 75px; width: 76px; }
.road__arrow:before { content: ""; position: absolute; top: 50%; left: 0; height: 1px; width: 100%; margin-top: -1px; background-color: #a8a8a8; }
.road__arrow_left { left: 100%; border-left: 1px solid #a8a8a8; }
.road__arrow_left:after { content: ""; position: absolute; top: 50%; right: 0; height: 20px; width: 20px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-color: #a8a8a8; border-radius: 50%; border: 3px solid #252626; }
.road__arrow_right { right: 100%; border-right: 1px solid #a8a8a8; }
.road__arrow_right:after { content: ""; position: absolute; top: 50%; left: 0; height: 20px; width: 20px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-color: #a8a8a8; border-radius: 50%; border: 3px solid #252626; }
.road__title { margin-bottom: 3px; color: #faa620; font-size: 25px; text-transform: uppercase; }
.road__section { position: relative; }
.road__section_border { padding: 15px 0; }
.road__section_border:after { content: ""; position: absolute; top: 100%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 105px; height: 1px; background-color: #a8a8a8; }
.road__section_pad_top { padding-top: 15px; }
.road__period { margin-bottom: 7px; color: white; font-size: 18px; }
.road__info { color: white; font-size: 14px; }
.road__info + .road__info { margin-top: 5px; }

.popup { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); display: none; z-index: 10000; }
.popup.is-open { display: block; }
.popup__inner { position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding: 40px 50px 60px; max-width: 435px; width: 90%; text-align: center; font-size: 0; z-index: 10001; opacity: 0.95; background-color: white; border-radius: 2px; box-shadow: 0 0 38px rgba(20, 20, 21, 0.2); }
.popup__inner:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__close-btn { position: absolute; top: -50px; right: -50px; display: inline-block; width: 50px; height: 50px; font-weight: bold; font-size: 36px; cursor: pointer; text-shadow: 0 0 5px rgba(20, 20, 21, 0.2); }
.popup__close-btn:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate3D(-50%, -50%, 0); -ms-transform: translate3D(-50%, -50%, 0); transform: translate3D(-50%, -50%, 0); }
.popup .field { margin-bottom: 20px; }
.popup input { height: 50px; line-height: 50px; border-bottom: 1px solid rgba(0, 0, 0, 0.7); width: 100%; font-size: 17px; color: rgba(0, 0, 0, 0.7); }
.popup button { margin-top: 30px; min-width: 226px; padding: 10px 20px; background-color: #093; border: 1px solid rgba(1, 2, 2, 0.07); box-shadow: 5.5px 9.5px 20px rgba(20, 20, 21, 0.08); font-size: 27px; text-transform: uppercase; color: #FFF; border-radius: 24px; cursor: pointer; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }
@media only screen and (max-width: 1024px){
 .scroll-top{ right: 20px; } }
@media only screen and (max-width: 1023px){
 .members{ display: block; margin: 30px 0 -20px; }
 .member__col{ display: inline-block; width: 50%; }
 .member{ max-width: 340px; } }
@media only screen and (max-width: 767px){
 .feature{ margin-bottom: 25px; }
 .member__col{ width: 100%; margin-bottom: 45px; }
 .member__photo{ width: 150px; height: 150px; }
 .member__name{ font-size: 26px; } }



/*# sourceMappingURL=style.css.map */
